.notes-container {
    display: flex;

    flex-direction: column;

    gap: 1rem;

    width: 30%;

    height: 100vh;

    padding: 5% 5% 0 0;

    border-right: 1px solid var(--color-secondary);

    .notes-header {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        
        align-items: center
    }
}