.input {
    width: auto;
    height: 25px;
    padding: 10px 15px 10px 15px;

    border: 1px solid #b57328;
    border-radius: 5px;

    font-size: 18px;
    
}

.input:focus{
    outline-color: #b52828;
}
.input::placeholder {
    font-style: italic;
}