.note {
    display: flex;
    flex-direction: column;
    height: 100px;

    padding: 1rem 0 0 1rem;

    border: 3px solid var(--color-secondary);

    border-radius: 10px;

    cursor: pointer;

    transition: 0.4s;

    .note-title {
        margin: 0;
        font-size: 20px;

    }
    .note-text {
        font-size: 14px;
        font-style: italic;

        margin-top: 0.75em;
    }
    .note-date {
        margin-top: 1em;
        font-size: 12px;
    }
}

.note:hover {

    border-color: var(--color-secondary);
    background-color: var(--color-additional);

    scale: 1.1;

}

.note:active {
    scale: 1.05;
    border-color: var(--color-additional);

}